<h2>Personal Information</h2>
<div class="contentData">
    <form [formGroup]="myregisterform" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-6 form-group">
                <label for="fName">First Name</label>
                <input type="text" id="fName" class="form-control" formControlName="firstName">
                <small class="text-danger" *ngIf="!myregisterform.get('firstName').valid && myregisterform.get('firstName').touched">First Name is required</small>
            </div>
            <div class="col-6 form-group">
                <label for="lName">Last Name</label>
                <input type="text" id="lName" class="form-control" formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <label for="uemail">Email</label>
                <input type="email" id="uemail" class="form-control" formControlName="email">
                <small class="text-danger" *ngIf="!myregisterform.get('email').valid && myregisterform.get('email').touched">Email is required</small>
            </div>
            <div class="col-6 form-group">
                <label for="cNo">Contact No</label>
                <input type="number" id="cNo" class="form-control" formControlName="contactno">
                <small class="text-denger" *ngIf="!myregisterform.get('contactno').valid && myregisterform.get('contactno').touched">
                    <ng-container *ngIf="myregisterform.get('contactno').errors.required">Contact is required</ng-container>
                <ng-container *ngIf="myregisterform.get('contactno').errors.minlength">Contact should be at least 10 char long! You have to put {{myregisterform.get('contactno')?.errors?.['minlength'].requiredLength-myregisterform.get('contactno')?.errors?.['minlength'].actualLength}} more char</ng-container></small>
            </div>
        </div>
        <div class="row">
            <div class=" col-6 form-group">
                <label for="upass">Password</label>
                <input type="password" id="upass" class="form-control" formControlName="password">
            </div>
            <div class="col-6 form-group">
                <label for="cpass">Confirm Password</label>
                <input type="password" id="cpass" class="form-control" formControlName="confirmPass">
            </div>
        </div>
        <label for="">Gender</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="male" value="Male" formControlName="gender">
            <label class="form-check-label" for="male">
                Male
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  id="female" value="Female"  formControlName="gender">
            <label class="form-check-label" for="female">
                Female
            </label>
        </div>
        <div class="form-group">
            <label for="multiplehobbies">Hobby</label>
            <select class="form-control" id="multiplehobbies" formControlName="hobby">
                <option>Reading</option>
                <option>Waching Movies</option>
                <option>swmming</option>

            </select>
        </div>
        <div class="text-right">
            <button class="btn btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>   
        <button class="btn btn-primary text-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </form>
</div>